*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vollkorn', serif;;
}
//variables
@import './variables/colores';
@import './variables/tamanios';
@import './variables/mixin';
//secciones
@import './secciones/index';
@import './secciones/servicios';
@import './secciones/empresa';
@import './secciones/proyectos';
@import './secciones/contacto';


@import './header.footer/header';
@import './header.footer/footer';

body{
    background-color: #d6bbff;
}
