.header{
    &__logo{
        width: 100px;
        margin-left: 10px;
        &:hover{
            width: 123px;
            transition: 1s;
        }
    }
    #menuNavegable{
        justify-content: space-between;
        font-size: 20px;
        .nav-link{
            color: black;
        }
    }
}